@charset "EUC-KR";
#nav {
	background-color: #7777ff;
	height: 100px;
	line-height: 100%;
	margin-bottom: 25px;
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

#logo {
	height: 100px;
}

.account {
	float: right;
	list-style: none;
	margin-right: 25px;
}

.account li {
	padding-top: 15px;
	padding-bottom: 10px;
}

.account li a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

#nav-container {
	display: flex;
	text-directionL row;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: space-between;
}

.nav-item {
	padding-left: 30px;
	padding-top: 40px;
}

.nav-item a{
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}